# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
beautifulsoup4=4.9.3=pypi_0
h5py=3.5.0=pypi_0
ipykernel=5.5.0=pypi_0
ipython=7.21.0=pypi_0
ipython-genutils=0.2.0=pypi_0
jedi=0.18.0=pypi_0
jmespath=0.10.0=pyhd3eb1b0_0
joblib=1.0.1=pyhd3eb1b0_0
jpeg=9d=h9ed2024_0
jsonschema=3.0.2=py38_0
jupyter-client=6.1.11=pypi_0
jupyter-core=4.7.1=pypi_0
keras=2.7.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
matplotlib=3.3.4=py38hecd8cb5_0
matplotlib-base=3.3.4=py38h8b3ea08_0
missingno=0.5.0=pypi_0
mpmath=1.1.0=py38_0
nltk=3.5=py_0
numpy=1.21.4=pypi_0
pandas=1.2.3=py38hb2f4e1b_0
scikit-learn=0.24.1=py38hb2f4e1b_0
scipy=1.6.1=py38h2515648_0
seaborn=0.11.2=pypi_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=2.7.0=pypi_0
tensorflow-estimator=2.7.0=pypi_0
tensorflow-io-gcs-filesystem=0.22.0=pypi_0

